<mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
	*ngIf="this.editorModel?.validationContext?.shouldDisplay('deposit_metadata.grants')">
	<mat-expansion-panel-header>
		<mat-panel-title> {{'APP.LABELS.FUNDING'| translate }} </mat-panel-title>
	</mat-expansion-panel-header>
	<mat-card-content *ngIf="this.form">
		<div class="row" *ngFor="let control of form['controls']; let i = index">
			<app-grant [control]="control.get('value')" [index]="i" (onDeleteItem)="this.deleteGrant($event)">
			</app-grant>
			<mat-error *ngIf="control.hasError('required')">{{'APP.ERRORS.SELECTION_IS_REQUIRED'| translate }}
			</mat-error>
		</div>
		<div class="row" *ngIf="!this.form.disabled">
			<button (click)="this.addGrant()" mat-button color="primary">
				<mat-icon>add</mat-icon> add another grant
			</button>
		</div>
	</mat-card-content>
</mat-expansion-panel>