.snack-bar-notification--success {
	background-color: #4CAF50 !important;
}

.snack-bar-notification--error {
	background-color: #B13636 !important;
}

.snack-bar-notification--warning {
	background-color: #B13636 !important;
}

.snack-bar-notification--info {
	background-color: #B13636 !important;
}
