<mat-expansion-panel [expanded]="panelOpenState"  (opened)="panelOpenState = true" (closed)="panelOpenState = false"
    *ngIf="this.editorModel?.validationContext?.shouldDisplay('deposit_metadata.related_identifiers')">
    <mat-expansion-panel-header>
        <mat-panel-title>{{'APP.LABELS.RELATED_ALTERNATIVE_IDENTIFIERS' | translate}} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content *ngIf="this.form">
        <div class="row">
            <mat-label>{{'APP.REQUEST.IDENTIFIERS'| translate }} :</mat-label>
            <div class="row" *ngFor="let control of this.form['controls']; let i=index">
                <mat-form-field class="col-md-3">
                    <mat-label>{{'APP.REQUEST.IDENTIFIER'| translate }}</mat-label>
                    <input matInput type="text" name="identifier" [formControl]="control.get('identifier')">
                </mat-form-field>
                <mat-form-field class="col-md-3">
                    <mat-label>{{'APP.REQUEST.RELATION'| translate }}</mat-label>
                    <mat-select [formControl]="control.get('relation')">
                        <mat-option *ngFor="let relation of relationList" [value]="relation.value">
                            {{ relation.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                    <mat-label>{{'APP.REQUEST.RESOURCE_TYPE'| translate }}</mat-label>
                    <mat-select [formControl]="control.get('resource_type')">
                        <mat-option *ngFor="let resourceType of resourceTypeList" [value]="resourceType.value">
                            {{ resourceType.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="col-md-1" *ngIf="!this.form.disabled" matSuffix mat-icon-button aria-label="Clear"
                    (click)="deleteIdentifier(i)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </div>
        </div>
        <div class="row">
            <button *ngIf="!this.form.disabled" mat-button color="primary" (click)="addIdentifier()">
                <mat-icon>add</mat-icon> add another related identifier
            </button>
        </div>
    </mat-card-content>
</mat-expansion-panel>