<mat-accordion>
    <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-description>
                Selected files from web dav
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-selection-list class="col-md-12 file-url-list overflow-auto" [multiple]="false">
            <mat-list-item *ngFor="let name of selectednames; let i = index">
                <div mat-line>{{name}}</div>
                <button mat-icon-button (click)="removeFileUrl(i)">
                    <mat-icon class=" mat-24">delete</mat-icon>
                </button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-selection-list>
    </mat-expansion-panel>
</mat-accordion>